<!-- <div class="text-center pt-4">

  
  <form action="/create" method="post" class="form-login-signup">
    
    <h1 class="h3 my-4 font-weight-normal">Your username?</h1>

    <input type="text" class="form-control top" name="username" placeholder="Username" required="" autofocus="">

    <button class="btn btn-lg btn-primary btn-block mx-0" type="submit">Next</button>

  </form>
</div> -->

<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '377831956781653',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v10.0'
    });
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    

</head>

<body>
  <div class="col-md-4 offset-md-4">
    <div class="card text-center mt-4">
      <div class="card-body">
        <h1 class="card-title h5">Nodejs Instagram App</h1>  
        <a href="/login" class="btn btn-primary btn-block mt-4">
          Login with Instagram
        </a>
      </div>
    </div>
  </div>
</body>

</html>
