<div id="carouselExampleControls" class="carousel slide" data-interval="false">
  <form>
  <div class="carousel-inner input-fields">
    <div class="carousel-item active">
      <label for="basic-url" class="form-label">Whats's your username?</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="username"
          aria-describedby="basic-addon1">

          <div class="col-md-4 offset-md-4">
            <div class="card text-center mt-4">
              <div class="card-body"> 
                <a href="/login" class="btn btn-primary btn-block mt-4">
                  Or Login with Instagram
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
    
    <div class="carousel-item">
      <label for="basic-url" class="form-label">Whats's your location?</label>
      <input type="text" class="form-control" placeholder="Location" aria-label="location"
        aria-describedby="basic-addon1">

    </div>
    
    <div class="carousel-item">
      <label for="basic-url" class="form-label">Whats's your bio?</label>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="bio">
      </div>
    </div>

    <div class="carousel-item">
      <label for="basic-url" class="form-label">Category of your profile?</label>
      <p class="category">Please, choose several categories:</p>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"  checked>
          <label class="form-check-label" for="flexRadioDefault1">
            Personal blog
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Product/Service
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Art
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Musician/Band
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Shoppin & Retail
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Health & Beauty
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Grocery Store
          </label>
        </div>
      </div>

    </div>

    <div class="carousel-item">
      <label for="basic-url" class="form-label">Whats's website (if available)?</label>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="website">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
 
</form>
</div>
