<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Tutorial Sample Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet"  href="/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.js"></script>
  <!-- MAIN CONTENT -->
  <div>
    <%- body %>
  </div>
</body>

</html>