body{
  margin: 20px;
  background: #6267E7 !important;
  font-family: 'Raleway';
}

.input-fields-my {
  width: 50%;
  margin: 25%;
}

.form-label {
  color: white;
  margin-bottom: 20px;
}


.form-check {
  padding: 10px 2px 10px 30px;
    margin: 5px;
    background: white;
    width: 70%;
    border-radius: 5px;
}

.category {
  color: white;
}

.btn-primary {
  background-color: #ffffff;
  color: #6267e7;
}

.media {
  height: 200px !important;
  overflow: scroll;
}

.media-title {
  color: white;
  margin-top: 10px;
}

.button-matches {
  height: 50px;
  margin: 40px;
}

.profile-card {
  width: 30%;
}

/* body{
  padding: 2rem 0rem;
} */
.image-parent {
  max-width: 40px;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
